*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
   
  }
  
  body{
    background-color: rgb(4, 7, 19); 
    text-align: center;
    color: white;
  } 
  .cursor{
    cursor: pointer;
  }
  .boton {
  background:rgb(49, 119, 225);}
  
  .txt{
        font-size: 10px;
  }
  
  .device{
    display: block;
    margin: auto;
    margin-bottom: 1em;
  }
  
  dt{
  font-size: small;
  color:grey;
  font-weight: 500;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  margin: 0.5em;
  }
  
  h2{
  font-weight: 500;
  margin-bottom: 0.5em;
  }
  
  /* media queries-----------------------------------------------------------------------------*/
  
  
  @media screen and (min-width: 360px) and (max-width: 640px) {

  .backgroundMovies{
    background-image: url(../src/components/Assets/darthvader.jpg);
    background-size: 100% 22rem;
    background-repeat: no-repeat;
    position: absolute;
    z-index: -10; 
    
  } 
  
  .thumby::after{
    content: "MOVY ORIGINAL";
    display: block;
    background-color: rgb(49, 119, 225);
    width: fit-content;
    height: fit-content;
    position: absolute;
    z-index: 10;
    top: 7.5rem;
    left: 0.5rem;
    border-radius: 0.1rem;
    color: white;
    font-size: 0.4rem;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    padding: 0 0.5rem;
    }
    
    
    
  .thumby{
    position: relative;
  
  }   

  .positionVader{
   position: relative;
    top: 13rem;
    
  }

  .ghostDivSm{
    z-index: -10;
    position: absolute;
    width: 100%;
    top: 12rem;
    margin-top: 0rem;
    
  } 

   .boxshadowSm{
    -webkit-box-shadow: -1px -50px 12px 30px rgba(0,0,0,0.92); 
    box-shadow: -1px -50px 12px 30px rgba(0,0,0,0.92); 
  } 

}
  
  
  
  /* ---------------- */
  
  @media screen and (min-width: 640px) and (max-width: 1024px) 
  
  {
  
  .backgroundMovies{
    background-image: url(../src/components/Assets/darthvader.jpg);
    background-size: 100% 85vh;
    background-repeat: no-repeat;
    position: absolute;
    z-index: -10;
  } 
  
   .thumby::after{
    content: "MOVY ORIGINAL";
    display: block;
    background-color: rgb(49, 119, 225);
    width: fit-content;
    height: fit-content;
    position: absolute;
    z-index: 10;
    top: 7.5rem;
    left: 0.1rem;
    border-radius: 0.1rem;
    color: white;
    font-size: 0.4rem;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    padding: 0 0.5rem;
  }
  
   .thumby{
    position: relative;
  }    

  .positionVader{
    position: relative;
     top: 18rem;
   }

  }
  
  
  @media only screen and (min-width:1024px)
  
  {
  
    .imgheader{
  
      height: 100vh;
      }

  
    .backgroundMovies{
      background-image: url(../src/components/Assets/darthvader.jpg);
      background-size: 100% 102vh;
      background-repeat: no-repeat;
      position: absolute;
      z-index: -10;
      
    } 
  .thumby::after{
      content: "MOVY ORIGINAL";
      display: block;
      background-color: rgb(49, 119, 225);
      width: fit-content;
      height: fit-content;
      position: absolute;
      z-index: 10;
      top: 7.5rem;
      left: 1.2rem;
      border-radius: 0.1rem;
      color: white;
      font-size: 0.4rem;
      font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
      padding: 0 0.5rem;
     }
  
     .thumby{
      position: relative;
    }    

    .positionVader{
      position: relative;
       top: 25rem;
      
  
  }
  }
  
    /* ------------------------------------------------------------------------------ */
  
  .input{
      border: 1px white solid;
      border-radius: 0.375rem;
      font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
      color: black;
  }
  
  input[type="radio"]  { display: none;}
  
  label{
    display: inline-block;
    position: relative;
    border-radius: 5px;
    padding-left: 14%;
    margin-top: 1rem;
    cursor: pointer;
  }
  
  label::before{
    content: "";
    width: 17px;
    height: 17px;
    display: inline-block;
    background-color: white;
    border-radius: 50%;
    position: absolute;
    left: 17px;
    top:6px;
    cursor: pointer;
    border: 3px solid white;
  
  }
  
  input[type="radio"]:checked + label:before{
    background-color: rgb(87, 134, 204);
  }
  
  ul {
    list-style: none;
    padding: 0;
    margin-left: 10px;
    }
  
  li{
    display: inline-block;
  }
  
  li::before {
  content: "\2022";
  padding-right: 1.5rem;
  color:white;
  position: relative;
  top:0.3rem;
  font-size: 1.6rem;
  
  
  }
  
  .botonMovy{
    background-color:rgba(5, 120, 255,0.29);
    color: rgba(5, 120, 255,1);
    font-weight: 600;
    letter-spacing: 0.03rem;
  
  }
  
  .thumbnail{
    width: 120px;
    height: 180px;
    margin-right: 0.2rem;
  }
  
  .boxshadow{
    -webkit-box-shadow: 0px -50px 28px 40px rgba(0,0,0,0.95);
  box-shadow: 0px -50px 28px 40px rgba(0,0,0,0.95);
  }

  
 
  .ghostDivMd{
    z-index: -1;
    position: absolute;
    width: 100%;
    top: 18rem;
    margin-top: 5rem;
    
  } 

  .ghostDivLg{
    z-index: -1;
    position: absolute;
    width: 100%;
    top: 18.2rem;
    margin-top: 5rem;
    
  } 

  
   .thumby {
    
    margin-right: 0.1rem;
  
  } 
  
  .thumbnail{
    width: 120px;
    height: 180px;
    
  } 
  
  